body{
    margin: 0;
    padding: 0;
}
header{
    padding-top: 10px;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slide_1{

    background-color: #141024;
}
.logo h1{
    font-size: 28px;
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;

}
.number h1{
    font-size: 30px;
    color: white;
}
.menu a{
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
.number {
    font-family: 'SemiBold', sans-serif;
}
.content_slide_1{
    padding-top: 7vh;
    display: flex;
    justify-content: center;
}
.img_slide_1 img{
    height: 100%;
    position: relative;
    left: 34px;
}
.info_slide_1{
    padding-top: 7%;
}
.img_slide_1 {
    height: 100vh;
}
.info_slide_1 h1{
    margin-bottom: 32px;
    font-size: 58px;
    color: white;
    font-family: 'SemiBold', sans-serif;
}
.info_slide_1 p{
    font-size: 14px;
    color: white;
    font-family: 'Regular', sans-serif;
    line-height: 26px;
}
.info_slide_1 button{
    margin-top: 32px;
    background-color: #D52027;
    color: white;
    padding: 25px 54px;
    border: none;
    border-radius: 5px;
}
.title_slide_3{
    padding-top: 10vh;
    margin: 0;
    font-size: 3vh;
    margin-left: 41vh 
}












.slide_2{
    height: 73vh;
    background-color: white;
    
}
.content_text{
    padding-left: 316px;
    line-height: 38px;
    font-size: 25px;
    padding-top: 56px;
    font-family: 'Mixed', sans-serif;
}
.content_info {
    display: flex;
    padding-top: 0px;
    padding-left: 313px ;
    margin-left: 0%;
    margin-top: -7px;
}
.content_info h2{
    font-size: 57px;
    color: #D52027;
    padding-left: 10px;
    font-family: 'SemiBold', sans-serif;
}
.content_info1{
    font-size: 13px;
    color: #141024;
    font-family: 'Regular', sans-serif;
}
.content_info2 {
    font-size: 13px;
    padding-left: 44px;
    color: #141024;
    font-family: 'Regular', sans-serif;
}
.content_info3 {
    font-size: 13px;
    padding-left: 44px;
    color: #141024;
    font-family: 'Regular', sans-serif;
}
.content_info4 {
    font-size: 13px;
    padding-left: 44px;
    color: #141024;
    font-family: 'Regular', sans-serif;
}

.content_info p{
    line-height: 25px;
    margin-top: -38px;
}

.content_text2{
    height: 48vh;
    background-color: #F9F9F9;
    margin-top: 75px;
}
.text{
    display: flex;
    margin: 10px;
    padding-left: 265px;
    line-height: 22px;
}
.text h3{
    font-family: 'SemiBold', sans-serif;
}
.title h1{
    padding-top: 92px;
    font-size: 36px;
    padding-left: 314px;
    font-family: 'SemiBold', sans-serif;
}
.text_title{
    padding-left: 40px;
}
.text_title2{
    padding-left: 40px;
}
.text_title3{
    padding-left: 40px;
}
.text p{
    color: #141024;
    font-family: 'Regular', sans-serif;
}
.photo2 {
    position: absolute;
    left: auto;
    top: 204vh;
    right: 53vh;
}



.slide_3{
    height: 109vh;
    background-color: white;
}
.content_slide_3{
    display: flex;
    justify-content: center;
}
.info_slide_3{
    padding-right: 25px;
}
.info_slide_3 img{
    width: 330px;
}
.info_slide_3 .img img{
    width: 100%;
}
.info_slide_3 a{
    color: #D52027;
    text-decoration: none;
}
.black{
    width: 260px;
    height: 5px;
    background-color: black;
}
.grey{
    width: 50px;
    opacity: 0.08;
    height: 5px;
    background-color: black;
}
.progression{
    align-items: center;
    display: flex;
}
.slide_4_footer{
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
}
.buttons{
    margin-right: 10vw;
}
.buttons button{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: black;
    color: white;
    border: none;
}

.slide_4{
    height: 109vh;
    background-color: white;
    font-family: 'SemiBold', sans-serif;
}
.title_slide_4{
    padding-top: 11vw;
    margin-left: 23vw;
}
.content_slide_4{
    display: flex;
    justify-content: center;
}
.info_slide_4{
    margin-right: 2.2vw;
    text-align: center;
    border: 1px solid gray;
    margin-top: 3vw;
    padding-top: 20px;
    width: 20vw;
    height: 25.8vw;
    border-radius: 18px;
}
.info_slide_4 h1{
    font-size: 45px;
    margin-top: 6vw;
    
}
.info_slide_4 button{
    padding: 23px;
    width: 16vw;    
    margin-top: 3vw;
    background-color: #D52027;
    color: white;
    border: none;
}
.info_slide_4 .btn{
    margin-top: 27px;

}

.slide_5{
    height: 25vw;
}
.img_slide_5 img {
    height: 25vw;
    width: 98.9vw;
}
.content_slide_5{
    height: 25vw
}
.text_slide_5{
    position: relative;
    bottom: 20vw;
    margin-left: 24vw;
    color: white;
} 
.form_slide_5{
    margin-left: 55vw;
    position: relative;
    bottom: 31vw;
}
.form1{
    height: 3vw;
    margin-bottom: 7px;
    width: 24vw;
    border-radius: 7px;
    border: none;
}
.form_slide_5 button{
    background-color:#141024;
    color: white;
    width: 24.3vw;
}
.footer{
    background-color: #141024;
    height: 10vw;
    display: flex;
    justify-content: space-between;
}   
.logo2 h1{
    color: white;
    margin-top: 0vw;
    font-size: 2vw;
}
.logo2 p{
    color: white;
    font-size: 14px;
}
.logo2{
    margin-left: 7vw;
    padding-top: 3vw;   
}
.number2 h1{
    color: white;
    font-size: 2vw;
}
.number2{
    margin-right: 4vw;
    margin-top: 1vw;    
}